.round__16 {
  position: absolute;
  top: 20%;
  height: 70%;
  left: 3%;
  width: 5%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5vw;
}

.first__16__line {
  position: absolute;
  top: 15%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.ninth__16__line {
  position: absolute;
  top: 15%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.second__16__line {
  position: absolute;
  top: 25%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.tenth__16__line {
  position: absolute;
  top: 25%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.third__16__line {
  position: absolute;
  top: 37.5%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.eleventh__16__line {
  position: absolute;
  top: 37.5%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fourth__16__line {
  position: absolute;
  top: 47.5%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.twelfth__16__line {
  position: absolute;
  top: 47.5%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fifth__16__line {
  position: absolute;
  top: 60%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.thirteenth__16__line {
  position: absolute;
  top: 60%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.sixth__16__line {
  position: absolute;
  top: 70%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fourteenth__16__line {
  position: absolute;
  top: 70%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.seventh__16__line {
  position: absolute;
  top: 82.5%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fifteenth__16__line {
  position: absolute;
  top: 82.5%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.eigth__16__line {
  position: absolute;
  top: 92.5%;
  left: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.sixteenth__16__line {
  position: absolute;
  top: 92.5%;
  right: 2%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.first__quarter__line {
  position: absolute;
  top: 17.5%;
  left: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.first__quarter__name {
  position: absolute;
  top: 12.5%;
  left: 19%;
  height: 5%;
  background: linear-gradient(135deg, black, #FF003A, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.second__quarter__line {
  position: absolute;
  top: 40%;
  left: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.second__quarter__name {
  position: absolute;
  top: 35%;
  left: 19%;
  height: 5%;
  background: linear-gradient(135deg, white, black);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.third__quarter__line {
  position: absolute;
  top: 62%;
  left: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.third__quarter__name {
  position: absolute;
  top: 57%;
  left: 19%;
  height: 5%;
  background: linear-gradient(135deg, #002061, #5DACE4, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.fourth__quarter__line {
  position: absolute;
  top: 85%;
  left: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fourth__quarter__name {
  position: absolute;
  top: 80%;
  left: 19%;
  height: 5%;
  background: linear-gradient(135deg, white, #263A89, #05105C);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.fifth__quarter__line {
  position: absolute;
  top: 17.5%;
  right: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fifth__quarter__name {
  position: absolute;
  top: 13%;
  right: 19%;
  height: 5%;
  background: linear-gradient(135deg, #E3B700, #AF0046, #FFE500);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.sixth__quarter__line {
  position: absolute;
  top: 40%;
  right: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.sixth__quarter__name {
  position: absolute;
  top: 35%;
  right: 19%;
  height: 5%;
  background: linear-gradient(135deg, #D00000, #F76800);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.seventh__quarter__line {
  position: absolute;
  top: 62%;
  right: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.seventh__quarter__name {
  position: absolute;
  top: 57%;
  right: 19%;
  height: 5%;
  background: linear-gradient(135deg, white, #E20000);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.eigth__quarter__line {
  position: absolute;
  top: 85%;
  right: 19%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.eigth__quarter__name {
  position: absolute;
  top: 80%;
  right: 19%;
  height: 5%;
  background: linear-gradient(135deg, #00326C, #0093D2);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.first__semi__line {
  position: absolute;
  top: 27.5%;
  left: 32%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.first__semi__name {
  position: absolute;
  top: 22.4%;
  left: 32%;
  height: 5%;
  background: linear-gradient(135deg, black, #FF003A, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  text-align: center;
}

.second__semi__line {
  position: absolute;
  top: 75%;
  left: 32%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.second__semi__name {
  position: absolute;
  top: 70%;
  left: 32%;
  height: 5%;
  background: linear-gradient(135deg, white, #263A89, #05105C);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  text-align: center;
}

.third__semi__line {
  position: absolute;
  top: 27.5%;
  right: 32%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.third__semi__name {
  position: absolute;
  top: 22.4%;
  right: 32%;
  height: 5%;
  background: linear-gradient(135deg, #E3B700, #AF0046, #FFE500);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  text-align: center;
}

.fourth__semi__line {
  position: absolute;
  top: 75%;
  right: 32%;
  height: 1%;
  width: 15%;
  border: 1px solid #3A00F7;
  background-color: black;
}

.fourth__semi__name {
  position: absolute;
  top: 70%;
  right: 32%;
  height: 5%;
  background: linear-gradient(135deg, white, #E20000);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  text-align: center;
}

.team__name {
  position: absolute;
  top: 20%;
  height: 20%;
  width: 75%;
  left: 10%;
  font-family: 'Orbitron', sans-serif;
  text-align: right;
  color: white;
}

.badge {
  position: absolute;
  height: 100%;
  width: 20%;
}

.score {
  position: absolute;
  height: 30%;
  width: 20%;
  left: 75%;
  top: 20%;
  text-align: right;
  color: white;
}

.score__black {
  position: absolute;
  height: 30%;
  width: 20%;
  left: 75%;
  top: 20%;
  text-align: right;
}

.first__name {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #A61D37, #F58220);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.second__name {
  position: absolute;
  top: 20.2%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #00326C, #0093D2);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.third__name {
  position: absolute;
  top: 32.5%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #D00000, #F76800);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.fourth__name {
  position: absolute;
  top: 42.5%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #003463, #A60D1D);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.fifth__name {
  position: absolute;
  top: 55%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, black, #FF003A, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.sixth__name {
  position: absolute;
  top: 65%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #183C88, #FFB000, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.seventh__name {
  position: absolute;
  top: 77.5%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, white, #263A89, #05105C);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.eigth__name {
  position: absolute;
  top: 87.5%;
  left: 2%;
  height: 5%;
  background: linear-gradient(135deg, #FEF900, black);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #F70000;
  text-align: center;
}

.ninth__name {
  position: absolute;
  top: 10%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, white, #F40000, #03378D);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 2px solid #F70000;
}

.tenth__name {
  position: absolute;
  top: 20.1%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, #E3B700, #AF0046, #FFE500);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.eleventh__name {
  position: absolute;
  top: 32.5%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, white, #E20000);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.twelfth__name {
  position: absolute;
  top: 42.5%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, #F5003E, #0060B9);
  border: 2px solid #F70000;
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.thirteenth__name {
  position: absolute;
  top: 55%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, #1B3AA3, #F20000);
  border: 2px solid #F70000;
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.fourteenth__name {
  position: absolute;
  top: 65%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, white, black);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.fifteenth__name {
  position: absolute;
  top: 77.5%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, #002061, #5DACE4, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #79FF8F;
  text-align: center;
}

.sixteenth__name {
  position: absolute;
  top: 87.5%;
  right: 2%;
  height: 5%;
  background: linear-gradient(135deg, #002A53, #0245A1, white);
  width: 15%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 2px solid #F70000;
}

.photo_champions {
  height: 95%;
  width: 100%;
}
