@import url('https://fonts.googleapis.com/css?family=Cairo');

.top__game {
  position: absolute;
  top: 10%;
  height: 25%;
  width: 95%;
  border-bottom: solid 5px black;
}

.home__team--top {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%;
  z-index: 2;
  text-align: right;
  font-family: 'Cairo', sans-serif;
  font-style: bold;
}

.home__score--top {
  position: absolute;
  top: 10%;
  left: 39%;
  width: 10%;
  text-align: center;
  font-family: 'Cairo', sans-serif;
}

.away__team--top {
  position: absolute;
  top: 10%;
  right: 12.5%;
  width: 30%;
  z-index: 2;
  text-align: left;
  font-family: 'Cairo', sans-serif;
}

.away__score--top {
  position: absolute;
  top: 10%;
  right: 43%;
  width: 10%;
  text-align: center;
  font-family: 'Cairo', sans-serif;
}

.line {
  position: absolute;
  height: 90%;
  width: .1%;
  background-color: black;
  left: 48%;
}
