.all__goals {
  position: absolute;
  width: 50%;
  margin-left: 27.3%;
  margin-top: 6.5%;
  font-size: 90%;
  height: 50%;
  font-family: 'Cairo', sans-serif;
}

.home1__goal {
  position: absolute;
  width: 25%;
  top: 0%;
  left: 0%;
  height: 25%;
  z-index: 9;
  font-family: 'Cairo', sans-serif;
}

.home2__goal {
  position: absolute;
  width: 25%;
  top: 25%;
  left: 0%;
  height: 25%;
  z-index: 9;
}

.home__goal--3 {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 0%;
  height: 25%;
  z-index: 9;
}

.home__goal--4 {
  position: absolute;
  width: 25%;
  top: 75%;
  left: 0%;
  height: 25%;
  z-index: 9;
}

.home__goal--5 {
  position: absolute;
  width: 25%;
  top: 75%;
  left: 0%;
  height: 25%;
  z-index: 9;
}

.home__goal--6 {
  position: absolute;
  width: 18%;
  top: 0%;
  left: 25%;
  height: 25%;
  z-index: 9;
}

.home__goal--7 {
  position: absolute;
  width: 18%;
  top: 25%;
  left: 25%;
  height: 25%;
  z-index: 9;
}

.home__goal--8 {
  position: absolute;
  width: 18%;
  top: 50%;
  left: 25%;
  height: 25%;
  z-index: 9;
}


.away1__goal {
  position: absolute;
  width: 25%;
  top: 0%;
  right: 5%;
  height: 25%;
  z-index: 9;
}

.away__goal--2 {
  position: absolute;
  width: 25%;
  top: 25%;
  right: 0%;
  height: 25%;
  z-index: 9;
}

.away__goal--3 {
  position: absolute;
  width: 25%;
  top: 50%;
  right: 0%;
  height: 25%;
  z-index: 9;
}

.away__goal--4 {
  position: absolute;
  width: 25%;
  top: 75%;
  right: 0%;
  height: 25%;
  z-index: 9;
}

.away__goal--5 {
  position: absolute;
  width: 25%;
  top: 75%;
  right: 0%;
  height: 25%;
  z-index: 9;
}

.away__goal--6 {
  position: absolute;
  width: 18%;
  top: 0%;
  right: 25%;
  height: 25%;
  z-index: 9;
}

.away__goal--7 {
  position: absolute;
  width: 18%;
  top: 25%;
  right: 25%;
  height: 25%;
  z-index: 9;
}

.away__goal--8 {
  position: absolute;
  width: 18%;
  top: 50%;
  right: 25%;
  height: 25%;
  z-index: 9;
}
