.italy {
  position: absolute;
  top: 17%;
  left: 7%;
  height: 80%;
  width: 60%;
  opacity: 0.8;
}

.map__icon--Fiorentina {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 42.5%;
  left: 29.8%;
}

.map__icon--Juventus {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 30%;
  left: 15%;
}

.map__icon--AC_Milan {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 28%;
  left: 19%;
}

.map__icon--Inter_Milan {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 29%;
  left: 20.5%;
}

.map__icon--Roma {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 52%;
  left: 36%;
}

.map__icon--Lazio {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 53%;
  left: 34%;
}

.map__icon--Torino {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 31%;
  left: 13%;
}

.map__icon--Atalanta {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 26%;
  left: 23%;
}

.map__icon--Genoa {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 36%;
  left: 20%;
}

.map__icon--Sampdoria {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 35%;
  left: 18%;
}

.map__icon--Napoli {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 60%;
  left: 44%;
}

.map__icon--Sassuolo {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 35%;
  left: 27%;
}

.map__icon--Cagliari {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 69%;
  left: 20%;
}

.map__icon--Parma {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 33.5%;
  left: 24%;
}

.map__icon--SPAL {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 33%;
  left: 32%;
}

.map__icon--ChievoVerona {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 30%;
  left: 29%;
}

.map__icon--Udinese {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 24%;
  left: 36%;
}

.map__icon--Bologna {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 36%;
  left: 30%;
}

.map__icon--Empoli {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 43%;
  left: 27%;
}

.map__icon--Frosinone {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 54%;
  left: 40%;
}
//
// .map__name--Fiorentina {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 65%;
//   left: 32%;
//   z-index: 5;
// }
//
// .map__name--Juventus {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 48.5%;
//   left: 19.3%;
// }
//
// .map__name--AC_Milan {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 45%;
//   left: 16.5%;
// }
//
// .map__name--Inter_Milan {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 46%;
//   left: 24.6%;
// }
//
// .map__name--Roma {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 82%;
//   left: 38.5%;
// }
//
// .map__name--Lazio {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 83.7%;
//   left: 32%;
// }
//
// .map__name--Torino {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 49.4%;
//   left: 12%;
// }
//
// .map__name--Atalanta {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 40.3%;
//   left: 25.4%;
// }
//
// .map__name--Genoa {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 57.5%;
//   left: 22.5%;
// }
//
// .map__name--Sampdoria {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 55.3%;
//   left: 12.5%;
// }
//
// .map__name--Napoli {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 93.3%;
//   left: 46%;
// }
//
// .map__name--Sassuolo {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 53%;
//   left: 26%;
// }
//
// .map__name--Cagliari {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 107%;
//   left: 20%;
// }
//
// .map__name--Parma {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 52%;
//   left: 23%;
// }
//
// .map__name--SPAL {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 51%;
//   left: 32%;
// }
//
// .map__name--ChievoVerona {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 45%;
//   left: 30%;
// }
//
// .map__name--Udinese {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 40%;
//   left: 38%;
// }
//
// .map__name--Bologna {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 55%;
//   left: 31%;
// }
//
// .map__name--Empoli {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 65%;
//   left: 27%;
// }
//
// .map__name--Frosinone {
//   position: absolute;
//   height: 4%;
//   width: 2.5%;
//   top: 85%;
//   left: 39%;
// }
