.italy {
  position: absolute;
  top: 17%;
  left: 7%;
  height: 80%;
  width: 60%;
  opacity: 0.8;
}

.map__icon--Fiorentina {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 42.5%;
  left: 29.8%;
}

.map__icon--Juventus {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 30%;
  left: 15%;
}

.map__icon--AC_Milan {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 28%;
  left: 19%;
}

.map__icon--Inter_Milan {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 29%;
  left: 20.5%;
}

.map__icon--Roma {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 52%;
  left: 36%;
}

.map__icon--Lazio {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 53%;
  left: 34%;
}

.map__icon--Torino {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 31%;
  left: 13%;
}

.map__icon--Atalanta {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 26%;
  left: 23%;
}

.map__icon--Genoa {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 36%;
  left: 20%;
}

.map__icon--Sampdoria {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 35%;
  left: 18%;
}

.map__icon--Napoli {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 60%;
  left: 44%;
}

.map__icon--Sassuolo {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 35%;
  left: 27%;
}

.map__icon--Cagliari {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 69%;
  left: 20%;
}

.map__icon--Parma {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 33.5%;
  left: 24%;
}

.map__icon--SPAL {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 33%;
  left: 32%;
}

.map__icon--ChievoVerona {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 30%;
  left: 29%;
}

.map__icon--Udinese {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 24%;
  left: 36%;
}

.map__icon--Bologna {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 36%;
  left: 30%;
}

.map__icon--Empoli {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 43%;
  left: 27%;
}

.map__icon--Frosinone {
  position: absolute;
  height: 4%;
  width: 2.5%;
  top: 54%;
  left: 40%;
}
