.rate {
  position: absolute;
  height: 900px;
  top: 5.4%;
  width: 95%;
  margin-left: 2.5%;
  background-color: #E8E8E8;
}


.player__rate--name {
  position: absolute;
  left: 17%;
  top: 7%;
  font-family: 'Roboto Mono', monospace;
}

.player__rate--position {
  position: absolute;
  left: 17%;
  top: 15%;
  font-family: 'Roboto Mono', monospace;
}

.player__rate--form--title {
  position: absolute;
  height: auto;
  width: auto;
  left: 55%;
  top: 32%;
  font-family: 'Roboto Mono', monospace;
  border-bottom: solid 2.5px black;
}

.player__rate--form {
  position: absolute;
  height: auto;
  width: 36.5%;
  left: 55%;
  top: 40%;
  font-family: 'Roboto Mono', monospace;
  background-color: #D3D3D3;
}

.player__rate--text {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.player__rate--ratings {
  position: absolute;
  top: 39.2%;
  height: auto;
  width: 47%;
  background-color: #D3D3D3;
}

.player__rate--total--score {
  position: absolute;
  height: auto;
  top: 32%;
  padding-left: 41.5%;
  border-bottom: solid 2.5px black;
  font-family: 'Roboto Mono', monospace;
}

.player__rate--rating {
  margin-top: 5%;
  border-bottom: solid 1px black;
  height: auto;
  width: auto;
  font-family: 'Roboto Mono', monospace;
}

.player__rate--text--title {
  position: absolute;
  top: 32%;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}
