@import url('https://fonts.googleapis.com/css?family=Arvo');

.rate {
  position: absolute;
  height: 900px;
  top: 45px;
  width: 100%;
  background-color: #E8E8E8;
}


.player__rate--name {
  position: absolute;
  left: 17%;
  top: 7%;
  font-family: 'Cairo', sans-serif;
}

.player__rate--position {
  position: absolute;
  left: 17%;
  top: 15%;
  font-family: 'Cairo', sans-serif;
}

.player__rate--form--title {
  position: absolute;
  height: auto;
  width: 36.5%;
  left: 55%;
  top: 32%;
  font-family: 'Cairo', sans-serif;
  border-bottom: solid 2.5px black;
}

.player__rate--form {
  position: absolute;
  height: auto;
  width: 36.5%;
  left: 55%;
  top: 40%;
  font-family: 'Cairo', sans-serif;
  background-color: #D3D3D3;
}

.player__rate--text {
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
}

.player__rate--ratings {
  position: absolute;
  top: 39.2%;
  height: 50%;
  width: 47%;
  left: 1%;
  overflow: scroll;
  background-color: #D3D3D3;
}

.player__rate--description {
  border-bottom: solid 1px black;
  height: auto;
  width: 100%;
  margin: 0%;
  padding-left: 1%;
  padding-top: 2.5%;
  font-size: 2vw;
  font-family: 'Cairo', sans-serif;
}

.player__rate--score {
  top: 10%;
  width: 10%;
  height: auto;
  margin-left: 0;
  font-size: 2vw;
  font-family: 'Cairo', sans-serif;
}

.player__rate--total--score {
  position: absolute;
  height: auto;
  left: 1%;
  top: 32%;
  padding-left: 43%;
  border-bottom: solid 2.5px black;
  font-family: 'Cairo', sans-serif;
}

.player__rate--rating {
  margin-top: 5%;
  height: auto;
  width: auto;
  font-family: 'Cairo', sans-serif;
}

.player__rate--text--title {
  position: absolute;
  top: 32%;
  left: 1%;
  font-family: 'Cairo', sans-serif;
  font-size: 40px;
}
