.description--error {
  position: absolute;
  height: 10%;
  top: 22%;
  right: 15%;
  font-size: 2vw;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}

.score--error {
  position: absolute;
  height: 10%;
  width: 30%;
  top: 27%;
  right: 15%;
  font-size: 2vw;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}

.player__image {
  position: absolute;
  height: 32%;
  width: 15%;
}

.player__first--name {
  position: absolute;
  left: 21%;
  top: 7%;
  font-family: 'Roboto Mono', monospace;
  border-bottom: solid 2.5px black;
}

.player__position {
  position: absolute;
  left: 21%;
  top: 25%;
  font-family: 'Roboto Mono', monospace;
}

.player__background {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 30%;
  opacity: 0.3;
}

.player__team {
  position: absolute;
  position: absolute;
  left: 21%;
  top: 17%;
  width: auto;
  font-family: 'Roboto Mono', monospace;

}

.player__nation {
  position: absolute;
  left: 21%;
  top: 33%;
  font-family: 'Roboto Mono', monospace;
}
