@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.gray {
  height: 1700px;
  width: 100%;
  background-color: #E8E8E8;
}

.world {
  position: absolute;
  top: 70%;
  width: 125%;
  height: 230%;
  transform: translateZ(-210px);
  transform-style: preserve-3d;
  z-index: 1;
}

.stage {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 15%;
  perspective-origin: 60% -200px;
  perspective: 1100px;
  z-index: 0;
  top: 50px;

}

.field {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 70%;
  background-color: #eee;
  z-index: 2;
  transform: rotateX(50deg) translateZ(0);
  transform-origin: 50% 50%;
  box-sizing: content-box;
}

.field__texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.field__texture--gradient {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
  z-index: 4;
}

.field__texture--grass {
  background-image: url("https://opengameart.org/sites/default/files/tileable-grass_clover_tt7010116-sample_1.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}

.field__line {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 4;
}

.field__line--goal {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
  pointer-events: none;
}

.field__line--goal--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  pointer-events: none;
}

.field__line--penalty-arc {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 16%;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.field__line--penalty-arc:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: ' ';
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  pointer-events: none;
}

.field__line--penalty-arc--far {
  bottom: auto;
  top: 16%;
  pointer-events: none;
}

.field__line--penalty-arc--far:after {
  bottom: 70%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
  pointer-events: none;
}

.field__line--penalty {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0%;
  pointer-events: none;
}

.field__line--penalty--far {
  top: 0%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  pointer-events: none;
}

.field__line--outline {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  z-index: 5;

}

.field__line--mid {
  top: 50%;
  width: 100%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.field__line--circle {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
}

.player__stage {
  position: absolute;
  display: inline-block;
  z-index: 5;
}

.player__stage--info--goalie {
  height: 90px;
  width: 250px;
  background-color: white;
  top: 88%;
  right: 12%;
  z-index: 9;
}

.player__stage--info--name {
  position: absolute;
  width: auto;
  color: black;
  height: 10%;
  font-family: 'Roboto Mono', monospace;
  top: 10%;
  left: 5%;
  margin-right: 0;
  z-index: 9;
}

.player__stage--info--number {
  position: absolute;
  width: auto;
  height: auto;
  color: black;
  height: 10%;
  font-family: 'Cairo', sans-serif;
  top: 10%;
  left: 80%;
  z-index: 9;
}

.player__stage--info--score {
  position: absolute;
  color: black;
  font-family: 'Cairo', sans-serif;
  z-index: 9;
  top: 70%;
  left: 5%;
}

.player__stage--info--nation {
  position: absolute;
  color: black;
  font-family: 'Cairo', sans-serif;
  z-index: 9;
  top: 40%;
  left: 5%;
}

.player__stage--info--rightback {
  height: 90px;
  width: 250px;
  background-color: white;
  border: solid 2px black;
  top: 64%;
  right: 22%;
  z-index: 9;
}

.player__stage--info--leftback {
  height: 90px;
  width: 250px;
  background-color: white;
  border: solid 2px black;
  top: 64%;
  left: 22%;
  z-index: 9;
}

.player__stage--info--rightcenterback {
  height: 90px;
  width: 250px;
  background-color: white;
  border: solid 2px black;
  top: 68%;
  left: 27%;
  z-index: 9;
}

.player__stage--info--leftcenterback {
  height: 90px;
  width: 250px;
  background-color: white;
  border: solid 2px black;
  top: 68%;
  right: 27%;
  z-index: 9;
}

.player__stage--info--defensivecentermidfield {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 40%;
  right: 7%;
  z-index: 9;
}

.player__stage--info--leftcentermidfield {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 35%;
  left: 34.5%;
  z-index: 9;
}

.player__stage--info--rightcentermidfield {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 35%;
  right: 34.5%;
  z-index: 9;
}

.player__stage--info--rightforward {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 8%;
  right: 30%;
  z-index: 9;
}

.player__stage--info--leftforward {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 8%;
  left: 30%;
  z-index: 9;
}

.player__stage--info--centerforward {
  height: 120px;
  width: 280px;
  background-color: white;
  border: solid 2px black;
  top: 5%;
  left: 6%;
  z-index: 9;
}

.hidden {
  visibility: hidden;
}

.player__stage--rightback {
  height: 18%;
  width: 20%;
  top: 42%;
  right: 1%;
  bottom: 0;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--rightback__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--rightback__circle {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 60%;
  right: 1%;
  z-index: 1;
}

.player__stage--rightback__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--rightback__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightback__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightback__circle--bottom {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 76.7%;
  right: 1%;
  z-index: 1;
}

.player__stage--rightback__name {
  position: absolute;
  top: 80%;
  height: 18%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  font-size: 110%;
  background: #0C4AB7;
}

.player__stage--leftback {
  height: 18%;
  width: 20%;
  top: 42%;
  left: 1%;
  bottom: 0;
  background: black;
  margin: auto;
  font-size: 110%;
  z-index: 9;
}

.player__stage--leftback__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--leftback__circle {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 60%;
  left: 1%;
  z-index: 1;
}

.player__stage--leftback__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--leftback__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftback__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftback__circle--bottom {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 76.7%;
  left: 1%;
  z-index: 1;
}

.player__stage--leftback__name {
  position: absolute;
  top: 80%;
  height: 18%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 110%;
}

.player__stage--leftback__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}


.player__stage--rightcenterback {
  height: 18%;
  width: 20%;
  top: 50%;
  left: 55%;
  bottom: 0;
  background: black;
  margin: auto;
  font-size: 110%;
  z-index: 7;
}

.player__stage--rightcenterback__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--rightcenterback__circle {
  position: absolute;
  width: 20.1%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 64%;
  right: 25.2%;
  z-index: 1;
}

.player__stage--rightcenterback__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--rightcenterback__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightcenterback__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightcenterback__circle--bottom {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 81%;
  right: 25.2%;
  z-index: 6;
}

.player__stage--rightcenterback__name {
  position: absolute;
  top: 80%;
  height: 19%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 110%;
  z-index: 9;
}

.player__stage--rightcenterback__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}


.player__stage--leftcenterback {
  height: 18%;
  width: 20%;
  top: 50%;
  right: 55%;
  bottom: 0;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--leftcenterback__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--leftcenterback__circle {
  position: absolute;
  width: 20.1%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 64%;
  left: 25.2%;
  z-index: 1;
}

.player__stage--leftcenterback__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--leftcenterback__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftcenterback__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftcenterback__circle--bottom {
  position: absolute;
  width: 20%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 81%;
  left: 25.2%;
  z-index: 6;
}

.player__stage--leftcenterback__name {
  position: absolute;
  top: 80%;
  height: 18%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  font-size: 110%;
  background: #0C4AB7;
}

.player__stage--leftcenterback__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--goalie {
  height: 16%;
  width: 18%;
  top: 87.5%;
  right: 41%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--goalie__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
  -webkit-user-select: none;
}

.player__stage--goalie__circle {
  position: absolute;
  width: 18%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 85.8%;
  right: 41%;
  z-index: 1;
}

.player__stage--goalie__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--goalie__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 140%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--goalie__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 140%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--goalie__circle--bottom {
  position: absolute;
  width: 18.1%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 99.8%;
  right: 41%;
  z-index: 1;
}

.player__stage--goalie__name {
  position: absolute;
  top: 80%;
  height: 18%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
}

.player__stage--goalie__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--defensivecentermidfield {
  height: 21%;
  width: 22%;
  top: 38%;
  right: 39%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--defensivecentermidfield__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--defensivecentermidfield__circle {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 35.5%;
  right: 39%;
  z-index: 1;
}

.player__stage--defensivecentermidfield__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--defensivecentermidfield__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--defensivecentermidfield__rating--position {
  position: absolute;
  height: 15%;
  left: 5%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--defensivecentermidfield__circle--bottom {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 55.6%;
  right: 39%;
  z-index: 5;
}

.player__stage--defensivecentermidfield__name {
  position: absolute;
  top: 80%;
  height: 18.5%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 120%;
}

.player__stage--defensivecentermidfield__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--rightcentermidfield {
  height: 21%;
  width: 22%;
  top: 34%;
  right: 10%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--rightcentermidfield__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--rightcentermidfield__circle {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 31.7%;
  right: 10%;
  z-index: 1;
}

.player__stage--rightcentermidfield__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
  font-size: 175%;
}

.player__stage--rightcentermidfield__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightcentermidfield__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightcentermidfield__circle--bottom {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 51.5%;
  right: 10%;
  z-index: 1;
}

.player__stage--rightcentermidfield__name {
  position: absolute;
  top: 80%;
  height: 19%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 120%;
}

.player__stage--rightcentermidfield__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--leftcentermidfield {
  height: 21%;
  width: 22%;
  top: 34%;
  left: 10%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--leftcentermidfield__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--leftcentermidfield__circle {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 31.7%;
  left: 10%;
  z-index: 1;
}

.player__stage--leftcentermidfield__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--leftcentermidfield__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftcentermidfield__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 175%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftcentermidfield__circle--bottom {
  position: absolute;
  width: 22%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 51.5%;
  left: 10%;
  z-index: 1;
}

.player__stage--leftcentermidfield__name {
  position: absolute;
  top: 80%;
  height: 19%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 120%;
}

.player__stage--leftcentermidfield__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--rightforward {
  height: 25%;
  width: 23%;
  top: 3%;
  right: 5%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--rightforward__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--rightforward__circle {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: .5%;
  right: 5%;
  z-index: 1;
}

.player__stage--rightforward__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--rightforward__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightforward__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--rightforward__circle--bottom {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 24.4%;
  right: 5%;
  z-index: 1;
}

.player__stage--rightforward__name {
  position: absolute;
  top: 80%;
  height: 18.5%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 150%;
}

.player__stage--rightforward__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--leftforward {
  height: 25%;
  width: 23%;
  top: 3%;
  left: 5%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--leftforward__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--leftforward__circle {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: .5%;
  left: 5%;
  z-index: 1;
}

.player__stage--leftforward__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--leftforward__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftforward__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--leftforward__circle--bottom {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 24.4%;
  left: 5%;
  z-index: 1;
}

.player__stage--leftforward__name {
  position: absolute;
  top: 80%;
  height: 18.5%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 150%;
}

.player__stage--leftforward__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}

.player__stage--centerforward {
  height: 25%;
  width: 23%;
  top: 0.5%;
  left: 38%;
  background: black;
  margin: auto;
  z-index: 9;
}

.player__stage--centerforward__photo {
  position: absolute;
  left: 40%;
  height: 83%;
  width: 60%;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.player__stage--centerforward__circle {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: -2%;
  left: 38%;
  z-index: 1;
}

.player__stage--centerforward__rating {
  position: absolute;
  width: 40%;
  background: #3B75D9;
  border-top: solid 1px black;
  border-right: solid 1px black;
  height: 83%;
  text-align: center;
}

.player__stage--centerforward__rating--number {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 3%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--centerforward__rating--position {
  position: absolute;
  height: 15%;
  left: 15%;
  top: 55%;
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: 'Sarpanch', sans-serif;
}

.player__stage--centerforward__circle--bottom {
  position: absolute;
  width: 23%;
  height: 5%;
  background: #0C4AB7;
  border-radius: 100px / 50px;
  top: 22.5%;
  left: 38%;
  z-index: 1;
}

.player__stage--centerforward__name {
  position: absolute;
  top: 80%;
  height: 18.8%;
  width: 100%;
  color: white;
  text-align: center;
  border-top: solid 1px black;
  font-family: 'Sarpanch', sans-serif;
  background: #0C4AB7;
  font-size: 150%;
}

.player__stage--centerforward__position {
  position: absolute;
  top: 82.5%;
  right: 8%;
  height: 2.5%;
  width: 7%;
  background: #23221E;
  color: white;
  text-align: center;
  box-shadow: 4px 2px 2px black;
  font-family: 'Roboto Mono', monospace;
}
