.table {
  position: absolute;
  top: 19.5%;
  right: 5%;
  height: auto;
  width: 20%;
  text-align: right;
  border: solid 1px black;
  background: lightgrey;
}

.position {
  position: absolute;
  width: 25%;
  left: 0%;
  color: black;
  text-align: left;
  font-size: 1.5vw;
  font-family: 'Cairo', sans-serif;
}

.badge_image {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 40%;
  right: 0%;
}

.table--title {
  font-family: 'Cairo', sans-serif;
  font-size: 30px;
  text-align: center;
  border-bottom: solid 2px black;
}

.names {
  position: absolute;
  left: 20%;
  width: 65%;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Cairo', sans-serif;
  border-collapse: collapse;
  vertical-align: text-top;
}

.points {
  position: absolute;
  left: 75%;
  width: 25%;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Cairo', sans-serif;
}

.helper{
  position: relative;
  left: 75%;
  width: 0%;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Cairo', sans-serif;
  overflow: hidden;
}

.names:hover {
  background: black;
  color: white;
}
