.badge__stage {
  top: 6.4%;
  position: absolute;
  height: 90px;
  width: 95%;
  left: 2.5%;
  background-color: #414449;
  z-index: 8;
}

.badge__icon {
  position: absolute;
  top: 17%;
  bottom: 10px;
}

.badge__icon--Fiorentina {
  position: absolute;
  height: 70px;
  width: 4.8%;
}

.badge__icon--Juventus {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 5%;
}

.badge__icon--AC_Milan {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 10%;
}

.badge__icon--Inter_Milan {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 15%;
}

.badge__icon--Roma {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 20%;
}

.badge__icon--Lazio {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 25%;
}

.badge__icon--Torino {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 30%;
}

.badge__icon--Atalanta {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 35%;
}

.badge__icon--Genoa {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 40%;
}

.badge__icon--Sampdoria {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 45%;
}

.badge__icon--Napoli {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 50%;
}

.badge__icon--Sassuolo {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 55%;
}

.badge__icon--Cagliari {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 60%;
}

.badge__icon--Parma {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 65%;
}

.badge__icon--SPAL {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 70%;
}

.badge__icon--Udinese {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 75%;
}

.badge__icon--Bologna {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 80%;
}

.badge__icon--Empoli {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 85%;
}

.badge__icon--Frosinone {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 90%;
}

.badge__icon--ChievoVerona {
  position: absolute;
  height: 70px;
  width: 4.8%;
  left: 95%;
}
