.gray {
  height: 1700px;
  width: 100%;
  background-color: #E8E8E8;
}

.world_totw {
  position: absolute;
  top: 20%;
  width: 125%;
  height: 230%;
  transform: translateZ(-210px);
  transform-style: preserve-3d;
  z-index: 1;
}

.stage_totw {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 10%;
  perspective-origin: 55% -200px;
  perspective: 1100px;
  z-index: 0;
  top: 50px;

}

.field_totw {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 90%;
  background-color: #eee;
  z-index: 2;
  transform: rotateX(50deg) translateZ(0);
  transform-origin: 50% 50%;
  box-sizing: content-box;
}

.field__texture_totw {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.field__texture--gradient_totw {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
  z-index: 4;
}

.field__texture--grass_totw {
  background-image: url("https://opengameart.org/sites/default/files/tileable-grass_clover_tt7010116-sample_1.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}

.field__line_totw {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 4;
}

.field__line--goal_totw {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
  pointer-events: none;
}

.field__line--goal--far_totw {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  pointer-events: none;
}

.field__line--penalty-arc_totw {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 16%;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.field__line--penalty-arc_totw:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: ' ';
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  pointer-events: none;
}

.field__line--penalty-arc--far_totw {
  bottom: auto;
  top: 16%;
  pointer-events: none;
}

.field__line--penalty-arc--far_totw:after {
  bottom: 70%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
  pointer-events: none;
}

.field__line--penalty_totw {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0%;
  pointer-events: none;
}

.field__line--penalty--far_totw {
  top: 0%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  pointer-events: none;
}

.field__line--outline_totw {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  z-index: 5;

}

.field__line--mid_totw {
  top: 50%;
  width: 100%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.field__line--circle_totw {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
}

.creating--active {
  position: absolute;
  width: 00%;
  height: 00%;
  background:rgba(255,255,255, 0.8);
  z-index: 15;
}

.select_formation {
  position: absolute;
  top: 20%;
  right: 5%;
  height: 20%;
  width: 20%;
  background: gray;
  overflow: scroll;
}

.add_button {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: black;
}

.delete__style {
  position: absolute;
  top: 55%;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
}

.delete__style:hover {
  background-color: gray;
  color: black;
}

.delete__style:disabled {
  background-color: red;
  color: white;
  z-index: -5;
}

.update__style {
  position: absolute;
  top: 15%;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
}

.update__style:hover {
  background-color: gray;
  color: black;
}

.update__style:disabled {
  background-color: red;
  color: white;
  z-index: -5;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.active--first--option {
  position: absolute;
  top: 28%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: white;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 13;
  cursor: pointer;
}

.active--first--option--first {
  position: absolute;
  top: 28%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: #00DA88;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--first--option:hover {
  color: black;
}

.active--second--option {
  position: absolute;
  top: 43%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: white;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--second--option--second {
  position: absolute;
  top: 43%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: #00DA88;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--second--option:hover {
  color: black;
}

.active--third--option {
  position: absolute;
  top: 58%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: white;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--third--option--third {
  position: absolute;
  top: 58%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: #00DA88;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--third--option:hover {
  color: black;
}

.active--fourth--option {
  position: absolute;
  top: 73%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: white;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--fourth--option--fourth {
  position: absolute;
  top: 73%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: #00DA88;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--fourth--option:hover {
  color: black;
}

.active--fifth--option {
  position: absolute;
  top: 88%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: white;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--fifth--option--fifth {
  position: absolute;
  top: 88%;
  right: -55.5%;
  height: 25%;
  width: 35%;
  background-color: gray;
  color: #00DA88;
  text-align: center;
  border-left: solid 1px black;
  font-size: 1vw;
  z-index: 16;
  cursor: pointer;
}

.active--fifth--option:hover {
  color: black;
}

.active--sixth:hover {
  color: black;
}

.--first {
  height: 0%;
  width: 0%;
  z-index: -5;
  color: white;
}

.--second {
  height: 0%;
  width: 0%;
  z-index: -5;
  color: white;
}

.--third {
  height: 0%;
  width: 0%;
  z-index: -5;
  color: white;
}

.--fourth {
  height: 0%;
  width: 0%;
  z-index: -5;
  color: white;
}

.second--update {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: red;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.first--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  color: white;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.second--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.third--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.fourth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.fifth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.sixth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.seventh--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.eigth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

  .ninth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.tenth--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.eleventh--delete {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 60%;
  width: 25%;
  background-color: gray;
  text-align: right;
  z-index: 12;
  cursor: pointer;
}

.title_formation {
  position: absolute;
  top: 17%;
  right: 5%;
  height: 3%;
  width: 20%;
  background-color: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border-bottom: solid 1px white;
}

.button_formation {
  background: #424242;
  width: 100%;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-family: 'Orbitron', sans-serif;
}

.add_player {
  position: absolute;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255, 0.8);
  z-index: 10;
}

.add_player--active {
  position: absolute;
  height: 50%;
  width: 80%;
  left: 10%;
  top: 20%;
  background-color: white;
  opacity: 1;
  overflow: scroll;
}

.--active {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}


.add_player--exit {
  position: fixed;
  left: 10%;
  top: 26.5%;
  height: 12px;
  width: 10px;
  background: red;
  color: black;
  font-size: .7vw;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}

.totw_photo {
  position: relative;
  height: 75%;
  width: 15%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  cursor: pointer;
  float: right;
}

.player_photo {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90%;
  width: 100%;
}

.player_name {
  position: absolute;
  top: 90%;
  height: 10%;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background: black;
  color: white;
}

.title_totw {
  position: absolute;
  top: 8%;
  width: 60%;
  left: 18%;
  height: 10%;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 3vw;
}

.photo {
  position: absolute;
  right: 0%;
  height: 80%;
  width: 80%;
  background: white;
  z-index: 9;
  border-bottom: solid 1.5px  #E9CC74;
}

.info_totw {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 20%;
  height: 70%;
  writing-mode: tb-rl;
  color: #E9CC74;
  border-bottom: solid 1.5px  #E9CC74;
}

.plus_player {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 70%;
  background: black;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  z-index: 1;
  color: white;
}

.field_photo {
  position: absolute;
  height: 100%;
  left: 0%;
  width: 100%;
  z-index: 10;
}

.position_totw {
  position: absolute;
  left: 5%;
  top: 80%;
  color: #E9CC74;
  height: 20%;
  width: 20%;
}

.name_totw {
  position: absolute;
  left: 35%;
  top: 80%;
  color: #E9CC74;
  height: 20%;
  width: 80%;
}

.first--4-4-2 {
  position: absolute;
  top: 91%;
  right: 42%;
  height: 20%;
  width: 16%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.second--4-4-2 {
  position: absolute;
  top: 63%;
  right: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.third--4-4-2 {
  position: absolute;
  top: 68%;
  right: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fourth--4-4-2 {
  position: absolute;
  top: 68%;
  left: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fifth--4-4-2 {
  position: absolute;
  top: 63%;
  left: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.sixth--4-4-2 {
  position: absolute;
  top: 32%;
  right: 1%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.seventh--4-4-2 {
  position: absolute;
  top: 35%;
  right: 27%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eigth--4-4-2 {
  position: absolute;
  top: 35%;
  right: 55%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.ninth--4-4-2 {
  position: absolute;
  top: 32%;
  right: 79%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.tenth--4-4-2 {
  position: absolute;
  top: 2%;
  right: 23%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eleventh--4-4-2 {
  position: absolute;
  top: 2%;
  left: 23%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.first--4-1-2-1-2 {
  position: absolute;
  top: 91%;
  right: 42%;
  height: 20%;
  width: 16%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.second--4-1-2-1-2 {
  position: absolute;
  top: 63%;
  right: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.third--4-1-2-1-2 {
  position: absolute;
  top: 68%;
  right: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fourth--4-1-2-1-2 {
  position: absolute;
  top: 68%;
  left: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fifth--4-1-2-1-2 {
  position: absolute;
  top: 63%;
  left: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.sixth--4-1-2-1-2 {
  position: absolute;
  top: 43%;
  right: 42%;
  height: 23%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.seventh--4-1-2-1-2 {
  position: absolute;
  top: 32%;
  right: 10%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eigth--4-1-2-1-2 {
  position: absolute;
  top: 32%;
  left: 10%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.ninth--4-1-2-1-2 {
  position: absolute;
  top: 15%;
  right: 42%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.tenth--4-1-2-1-2 {
  position: absolute;
  top: 0%;
  right: 19%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eleventh--4-1-2-1-2 {
  position: absolute;
  top: 0%;
  left: 15.5%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.first--4-3-3 {
  position: absolute;
  top: 91%;
  right: 42%;
  height: 20%;
  width: 16%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.second--4-3-3 {
  position: absolute;
  top: 63%;
  right: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.third--4-3-3 {
  position: absolute;
  top: 68%;
  right: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fourth--4-3-3 {
  position: absolute;
  top: 68%;
  left: 30%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fifth--4-3-3 {
  position: absolute;
  top: 63%;
  left: 5%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.sixth--4-3-3 {
  position: absolute;
  top: 43%;
  right: 40%;
  height: 23%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.seventh--4-3-3 {
  position: absolute;
  top: 32%;
  right: 18%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eigth--4-3-3 {
  position: absolute;
  top: 32%;
  left: 18%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.ninth--4-3-3 {
  position: absolute;
  top: 0%;
  right: 40%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.tenth--4-3-3 {
  position: absolute;
  top: 3%;
  right: 11%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eleventh--4-3-3 {
  position: absolute;
  top: 3%;
  left: 11%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.first--5-3-2 {
  position: absolute;
  top: 91%;
  right: 42%;
  height: 20%;
  width: 16%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.second--5-3-2 {
  position: absolute;
  top: 55%;
  right: 0%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.third--5-3-2 {
  position: absolute;
  top: 61%;
  right: 20%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fourth--5-3-2 {
  position: absolute;
  top: 65%;
  left: 41%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fifth--5-3-2 {
  position: absolute;
  top: 61%;
  left: 20%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.sixth--5-3-2 {
  position: absolute;
  top: 55%;
  left: 0%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.seventh--5-3-2 {
  position: absolute;
  top: 26%;
  right: 10%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eigth--5-3-2 {
  position: absolute;
  top: 26%;
  left: 10%;
  height: 25%;
  width: 20%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.ninth--5-3-2 {
  position: absolute;
  top: 33%;
  right: 40%;
  height: 27%;
  width: 21%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.tenth--5-3-2 {
  position: absolute;
  top: -3%;
  right: 25%;
  height: 27%;
  width: 21.5%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eleventh--5-3-2 {
  position: absolute;
  top: -3%;
  left: 25%;
  height: 27%;
  width: 21.5%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.first--3-5-2 {
  position: absolute;
  top: 91%;
  right: 42%;
  height: 20%;
  width: 16%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.second--3-5-2 {
  position: absolute;
  top: 65%;
  right: 15%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.third--3-5-2 {
  position: absolute;
  top: 68%;
  left: 41%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fourth--3-5-2 {
  position: absolute;
  top: 65%;
  left: 15%;
  height: 22%;
  width: 18%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.fifth--3-5-2 {
  position: absolute;
  top: 37%;
  right: 40%;
  height: 27%;
  width: 20%;
  background: black;
  z-index: 8;
  cursor: pointer;
}

.sixth--3-5-2 {
  position: absolute;
  top: 32%;
  right: 18%;
  height: 27%;
  width: 20%;
  background: black;
  z-index: 8;
  cursor: pointer;
}

.seventh--3-5-2 {
  position: absolute;
  top: 32%;
  left: 18%;
  height: 27%;
  width: 20%;
  background: black;
  z-index: 8;
  cursor: pointer;
}

.eigth--3-5-2 {
  position: absolute;
  top: 20%;
  right: -4%;
  height: 27%;
  width: 20%;
  background: black;
  z-index: 8;
  cursor: pointer;
}

.ninth--3-5-2 {
  position: absolute;
  top: 20%;
  left: -4%;
  height: 27%;
  width: 20%;
  background: black;
  z-index: 8;
  cursor: pointer;
}

.tenth--3-5-2 {
  position: absolute;
  top: -3%;
  right: 25%;
  height: 27%;
  width: 21.5%;
  background: black;
  z-index: 7;
  cursor: pointer;
}

.eleventh--3-5-2 {
  position: absolute;
  top: -3%;
  left: 25%;
  height: 27%;
  width: 21.5%;
  background: black;
  z-index: 7;
  cursor: pointer;
}
