.form__email {
  position: absolute;
  left: 30%;
  top: 5%;
  height: auto;
  width: 50%;
  font-family: 'Orbitron', monospace;
}

.email_error {
  position: absolute;
  color: red;
  height: 5%;
  width: 35%;
  top: 10%;
  right: 0%;
  text-align: right;
  font-family: 'Orbitron', monospace;
}

.password_error {
  position: absolute;
  color: red;
  height: 5%;
  width: 35%;
  top: 1%;
  right: 0%;
  text-align: right;
  font-family: 'Orbitron', monospace;
}

.password_match_error {
  position: absolute;
  color: red;
  height: 5%;
  width: 80%;
  top: -5%;
  right: 0%;
  text-align: right;
  font-family: 'Orbitron', monospace;
}

.password_confirmation_error {
  position: absolute;
  color: red;
  height: 5%;
  width: 60%;
  top: -5%;
  right: 0%;
  text-align: right;
  font-family: 'Orbitron', monospace;
}

.form__password {
  top: 13%;
  left: 30%;
  position: absolute;
  height: 50%;
  width: 50%;
  font-family: 'Orbitron', monospace;
}

.password_match {
  position: absolute;
  top: 28%;
  left: 30%;
  height: 20%;
  width: 30%;
  color: red;
  text-align: center;
  font-family: 'Orbitron', monospace;
}

.form__confirmation {
  top: 21%;
  left: 30%;
  position: absolute;
  height: auto;
  width: 50%;
  font-family: 'Orbitron', monospace;
}

.submit {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Orbitron', monospace;
}

.header {
  text-align: center;
  font-family: 'Orbitron', monospace;
  border-bottom: solid 1.5px black;
}

.remember {
  position: absolute;
  top: 22%;
  left: 60%;
  font-family: 'Orbitron', monospace;
}

.text {
  font-family: 'Orbitron', monospace;
  max-height: 5px;
  z-index: 10;
}

.right__link {
  position: absolute;
  right: 0%;
}

.submit__log--in {
  position: absolute;
  top: 22%;
  left: 40%;
  font-family: 'Orbitron', monospace;
}
